.donut-chart-container {
	max-width: 400px;
	/* Set a maximum width for the chart container */
	margin: 0 auto;
	/* Center the chart container horizontally */
}
/* Legend styles */
.apexcharts-legend {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.apexcharts-legend-item {
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.apexcharts-legend-marker {
	width: 12px;
	height: 12px;
	margin-right: 5px;
	border-radius: 50%;
}

.apexcharts-legend-text {
	font-size: 14px;
	color: #666;
}

